<a href="https://colab.research.google.com/github/alessiocozzi/Loan-Default-Challenge---EDA/blob/master/Loan_Default_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
train = 'https://www.dropbox.com/s/suv8xh00rmw01ef/train.csv?dl=1'

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv(train)

In [13]:
df.head()

   UniqueID  disbursed_amount  ...  NO.OF_INQUIRIES  loan_default
0    420825             50578  ...                0             0
1    537409             47145  ...                0             1
2    417566             53278  ...                0             0
3    624493             57513  ...                1             1
4    539055             52378  ...                1             1

[5 rows x 41 columns]